@{
    ViewData["Title"] = "Observações";
}
<h1>@ViewData["Title"]</h1>

<p>
    Desenvolvido por: <b>Gustavo Irentti</b>
</p>
<p>
    Acesse o git deste projeto para visualizar a documentação:
    <a href="https://github.com/Gustavuu/BNP.Movimentacoes" target="_blank">GitHub Repository</a>
</p>
<p>
    Para visualizar o swagger em modo desenvolvimento, acesse:
    <a href="https://localhost:7180/swagger/index.html" target="_blank">https://localhost:7180/swagger/index.html</a>
</p>

